.product_box {
    padding-top: 1.013333rem;
}

.headerUl_products li {
    width: 3.306667rem;
    height: 1.04rem;
    line-height: 1.04rem;
    text-align: center;
    color: #808080;
    font-size: .4rem;
}

.proitem {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #fff;
    margin-top: .266667rem;
}

.proitem img {
    height: 3.626667rem;
    width: 3.626667rem;
    margin-left: .566667rem;
    margin-top: .566667rem;
}

.info {
    flex: 1;
    margin: .533333rem;
}

.info h5 {
    font-size: .36rem !important;
    color: #333;
}

.info h6 {
    color: #8d8a8a;
    font-size: .36rem !important;
    color: #808080;
}

.info small {
    height: .6rem;
    padding: 0 .27rem;
    font-size: .42rem;
    display: inline-block;
    height: .46rem;
    line-height: .3rem;
    margin-right: .1rem;
    padding: 0 .2rem;
    color: #45b575;
    border: 1px solid #45b575;
    border-radius: 1em;
}

.info span {
    margin-right: .1rem;
    font-size: .36rem;
    font-weight: bold;
    color: #fb3d3d;
}

.produc_scroll,
.product_box {
    height: 100% !important;
}